/* Set the app attribute to your app's dash-delimited alias. */
cloudflare-app[app="DarkMode"] #darkmode {
  display: none;
  position: fixed;
  right: 1em;
  bottom: 5em;
  margin: 2em;
  padding: 0;
  width: 2em;
  cursor: pointer;
  z-index: 999999;
  height: 2em;
  transform: scale(2.5);
}

cloudflare-app[app="DarkMode"] .toggler {
  display: none;
  position: fixed;
  width: 2em;
  height: 2em;
  margin: 2em;
  right: 1em;
  bottom: 1em;
  background-color: #222;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
  will-change: transform;
}
cloudflare-app[app="DarkMode"] .toggler.dark {
  background-color: #eee;
}
cloudflare-app[app="DarkMode"] .toggler.dark:after {
  content: "";
  position: fixed;
  width: 16px;
  height: 16px;
  left: 20%;
  top: 20%;
  background: url(../media/sun.svg);
}
cloudflare-app[app="DarkMode"] .toggler:after {
  content: "";
  position: fixed;
  width: 16px;
  height: 16px;
  left: 20%;
  top: 20%;
  background: url(../media/moon_copy.svg) no-repeat;
}
cloudflare-app[app="DarkMode"] .toggler:hover {
  background-color: #555;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

cloudflare-app[app="DarkMode"] .circle {
  border: none;
  display: block;
  position: fixed;
  width: 2em;
  height: 2em;
  margin: 2em;
  right: 1em;
  bottom: 1em;
  border-radius: 50%;
  background-color: #222;
  z-index: 99999;
  mix-blend-mode: difference;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  -webkit-transform: scale(1) translateZ(0);
  transform: scale(1) translateZ(0);
  outline: 1px solid transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
  -webkit-perspective: 1000;
  perspective: 1000;
}

cloudflare-app[app="DarkMode"] .circle.clicked {
  -webkit-transform: scale(128) translateZ(0);
  transform: scale(128) translateZ(0);
}

@keyframes fadeOut {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}

cloudflare-app[app="DarkMode"] .removedarklayout {
  animation: fadeOut;
  animation-delay: -1s;
  animation-fill-mode: forwards;
}

@-moz-document url-prefix() {
  cloudflare-app[app="DarkMode"] .toggler:after {
    content: "";
    position: fixed;
    width: 16px;
    height: 16px;
    left: 22%;
    top: 22%;
    background: url(../media/moon_copy.svg) no-repeat;
  }
  cloudflare-app[app="DarkMode"] .toggler.dark:after {
    content: "";
    position: fixed;
    width: 16px;
    height: 16px;
    left: 22%;
    top: 22%;
    background: url(../media/sun.svg);
  }
}
