/* Set the app attribute to your app's dash-delimited alias. */
cloudflare-app[app="DarkMode"] #darkmode {
  display: none;
  position: fixed;
  right: 1em;
  bottom: 2em;
  margin: 2em;
  padding: 0;
  width: 2em;
  cursor: pointer;
  z-index: 999999;
  height: 2em;
  transform: scale(2.5);
}
